.footer-container {
  background-color: var(--navbar-footer-background);
  color: var(--text-secondary);
  padding: 1rem 2rem;
  text-align: center;
  position: fixed;  /* Mantiene el footer en la parte inferior */
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links a {
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: bold;
  margin-left: 1rem;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: var(--color-secondary); /* Cambia a azul claro al pasar el mouse */
}
