<section class="bg-fondoPrimario py-10">
    <!-- Contenedor principal -->
    <div class="container mx-auto px-6 text-center">
  
      <!-- Título y descripción -->
      <header class="mb-4">
        <h2 class="text-4xl font-bold text-baseAzulOscuro">Funciones de Gestión de Red</h2>
        <p class="text-textoPrincipal mt-2 text-base md:text-lg lg:text-xl max-w-full md:max-w-3xl lg:max-w-4xl mx-auto break-words">
          RedSegura permite gestionar escaneos, generar reportes y definir configuraciones para el monitoreo de dispositivos conectados.
        </p>
      </header>
  
      <!-- Tarjetas PrimeNG con Tailwind -->
      <div class="flex justify-center gap-4 w-full max-w-7xl mx-auto">
  
        <!-- Tarjeta: Reportes Personalizados -->
        <div class="bg-white rounded-lg p-5 flex flex-col items-center hover:shadow-xl transition-all duration-300 w-full max-w-[450px] h-56">
          <div class="mb-3 flex justify-center items-center">
            <i class="pi pi-file-pdf text-[50px] text-baseNaranja"></i>
          </div>
          <h3 class="text-lg font-semibold text-baseAzulOscuro">Reportes por Parámetros</h3>
          <p class="text-textoPrimario mt-1 text-sm text-center">
            Exporta informes filtrando por fechas, dispositivos, riesgos u otros criterios definidos.
          </p>
        </div>
  
        <!-- Tarjeta: Colaboración Segura -->
        <div class="bg-white rounded-lg p-5 flex flex-col items-center hover:shadow-xl transition-all duration-300 w-full max-w-[450px] h-56">
          <div class="mb-3 flex justify-center items-center">
            <i class="pi pi-users text-[50px] text-baseNaranja"></i>
          </div>
          <h3 class="text-lg font-semibold text-baseAzulOscuro">Gestión de Usuarios</h3>
          <p class="text-textoPrimario mt-1 text-sm text-center">
            Controla el acceso al sistema mediante roles diferenciados: administrador, analista e invitado.
          </p>
        </div>
  
        <!-- Tarjeta: Configuración Flexible -->
        <div class="bg-white rounded-lg p-5 flex flex-col items-center hover:shadow-xl transition-all duration-300 w-full max-w-[450px] h-56">
          <div class="mb-3 flex justify-center items-center">
            <i class="pi pi-cog text-[50px] text-baseNaranja"></i>
          </div>
          <h3 class="text-lg font-semibold text-baseAzulOscuro">Frecuencia de Escaneo</h3>
          <p class="text-textoPrimario mt-1 text-sm text-center">
            Programa escaneos automáticos por hora o frecuencia según las necesidades del sistema.
          </p>
        </div>
  
      </div>
    </div>
  </section>
  