<section class="w-full  text-textoPrincipal py-3">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col items-center gap-4">

    <!-- Logo -->
    <div class="flex justify-center mt-2">
      <img
  src="logo_completo.png"
  alt="Logo RedSegura"
  class="h-16 sm:h-20 md:h-24 lg:h-28 xl:h-28 2xl:h-32 w-auto"
/>


    </div>

    <!-- Bienvenida -->
    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-baseAzulOscuro text-center">
      ¡Bienvenido, {{ nombreUsuario }}!
    </h1>

    <!-- Subtítulo -->
    <p class="text-center text-sm sm:text-base max-w-2xl leading-relaxed">
      Administra tu red, dispositivos, configuraciones y vulnerabilidades desde un solo lugar.
    </p>

    <!-- Rol -->
    <div class="bg-white shadow rounded-full px-3 py-1 text-xs sm:text-sm flex items-center gap-1 text-gray-700">
      <i class="pi pi-user-shield text-baseNaranja"></i>
      <span><strong>Rol actual:</strong> {{ rolActivo }}</span>
    </div>

    <!-- Carrusel -->
    <div class="w-full pt-2">
      <p-carousel
        [value]="seccionesTarjetas"
        [numVisible]="3"
        [numScroll]="1"
        [circular]="false"
        [showIndicators]="true"
        [showNavigators]="true"
        [responsiveOptions]="responsiveOptions"
        contentClass="gap-0"
      >
        <ng-template let-item pTemplate="item">
          <div class="flex flex-col items-center justify-center gap-2 text-textoPrincipal text-center px-2 py-3">
            <i class="{{ item.icono }} text-3xl"></i>
            <span class="text-sm font-semibold mt-1">{{ item.nombre_seccion }}</span>
            <button
              (click)="navegarASeccion(item)"
              class="mt-1 bg-baseNaranja text-white text-xs px-4 py-1 rounded hover:bg-orange-500 transition duration-200"
            >
              Ir a sección
            </button>
          </div>
        </ng-template>
      </p-carousel>
    </div>

  </div>
</section>
