<aside class="w-64 bg-fondoClaro  text-baseAzulOscuro shadow-lg p-4 flex flex-col h-[calc(100vh-4rem)] border-r border-baseAzulOscuro">

  <!-- Contenedor del Menú -->
  <nav class="flex-1">
      <ul class="space-y-2"> <!-- 🛠 Espaciado entre elementos -->
          @for(item of menuItems; track item.routerLink){
              <li>
                  <button 
  [routerLink]="item.routerLink"
  class="w-full flex items-center px-4 py-3 rounded-md transition-all duration-200"
  [ngClass]="{
    'text-black font-semibold': item.routerLink.includes(activeMenu),
    'hover:bg-baseNaranja hover:text-black': !item.routerLink.includes(activeMenu)
  }"
  (click)="setActiveMenu(item.routerLink)"
>
  <i [class]="item.icon" class="mr-3"></i>
  <span>{{ item.label }}</span>
</button>

              </li>
          }
      </ul>
  </nav>
</aside>
