<footer class="p-shadow-2 footer-container">
    <div class="footer-content">
      <!-- Sección de Información -->
      <div class="footer-info">
        <p>© 2024 RedSegura. Todos los derechos reservados.</p>
      </div>
  
      <!-- Enlaces de navegación -->
      <div class="footer-links">
        <a href="#">Política de Privacidad</a>
        <a href="#">Términos de Uso</a>
        <a href="#">Contacto</a>
      </div>
  
      <!-- Detalles del sistema -->
      <div class="footer-system-info">
        <p>Versión Beta 1.0</p>
      </div>
    </div>
  </footer>
  