<div class="h-screen flex flex-col overflow-hidden">

  <!-- Header fijo -->
  <app-pg-header-administracion></app-pg-header-administracion>

  <div class="flex flex-1 overflow-hidden">
    
    <!-- Sidebar fijo -->
    <app-pg-menu-administracion></app-pg-menu-administracion>

    <!-- 📌 Solo aquí va el scroll -->
    <main class="flex-1 overflow-y-auto px-4 py-4">
      <router-outlet></router-outlet>
    </main>

  </div>

  <!-- Footer fijo -->
  <app-pg-footer-administracion></app-pg-footer-administracion>
</div>
