<div class="h-screen flex flex-col">
  <!-- ✅ Header fijo arriba -->
  <app-pg-header-administracion (cambioRol)="actualizarMenuPorRol($event)"></app-pg-header-administracion>

  <div class="flex flex-1 overflow-hidden">
      <!-- ✅ Menú lateral fijo -->
      <app-pg-menu-administracion [rolActivo]="rolSeleccionado"></app-pg-menu-administracion>

      <!-- ✅ Contenido dinámico ocupa el espacio restante -->
      <div id="content-wrapper" class="flex-1 overflow-y-auto p-5 bg-white">
          <router-outlet></router-outlet>
      </div>
  </div>

  <!-- ✅ Footer abajo fijo -->
  <app-pg-footer-administracion class="w-full"></app-pg-footer-administracion>
</div>
