.contenedor-principal {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupar toda la pantalla */
    overflow: hidden; /* Evita que el dashboard tenga barra de desplazamiento */
}

.main-container-app {
    display: flex;
    flex: 1; /* Expandirse */
    overflow: hidden; /* No permitir scroll en el layout principal */
}

#content-wrapper {
    flex: 1; /* Expandirse dentro del contenedor */
    padding: 1rem;
    overflow: hidden; /* No generar scroll innecesario */
    display: flex;
    flex-direction: column;
}
