<!-- layout.component.html -->
<!doctype html>
<html lang="en" class="h-full">
<head>
  <meta charset="utf-8">
  <title>RedSegura</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="icono_tab.png">

</head>
<body class="h-full">
<div class="contenedor-principal">
  <app-pg-header-administracion (cambioRol)="actualizarMenuPorRol($event)"></app-pg-header-administracion>


  <div id="wrapper" class="main-container-app">
   <app-pg-menu-administracion class="layout-menu" [rolActivo]="rolSeleccionado"></app-pg-menu-administracion>


    <div id="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-pg-footer-administracion></app-pg-footer-administracion>
</div>
  
</body>
</html>