<header class="bg-baseAzulOscuro text-textoSecundario shadow-md py-4">
  <nav class="container mx-auto flex justify-between items-center px-6">

    <!-- Título con margen izquierdo -->
    <h1 class="text-4xl md:text-4xl font-extrabold tracking-wide ml-8">
      RedSegura
    </h1>

    <!-- Botón alineado a la derecha -->
    <p-button 
  icon="pi pi-sign-in" 
  label="Iniciar Sesión"
  [styleClass]="'bg-baseNaranja text-white border-baseNaranja transition-all duration-300 transform hover:scale-110 rounded-3xl px-5 py-2 text-sm md:text-base'"
  (click)="navigateToLogin()">
</p-button>


  </nav>
</header>
