<header>
    <nav class="p-shadow-2 header-nav">
      <div class="header-container">
        <!-- Logo y título -->
        <div class="header-logo">
          <h1>Gestión de Seguridad de la Red</h1>
        </div>
  
        <!-- Navegación y botón -->
        <div class="header-right">
          <!-- Enlaces -->
          <div class="header-links">
            <a href="#">Inicio</a>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Contacto</a>
          </div>
          <!-- Botón -->
          <button
    pButton
    type="button"
    icon="pi pi-sign-in"
    label="Iniciar Sesión"
    class="p-button-rounded header-button"
    (click)="navigateToLogin()"
  ></button>
        </div>
      </div>
    </nav>
  </header>
  