<!-- 🔷 Sección: Encabezado principal -->
 <p-toast></p-toast>
<section class="w-full bg-baseAzulOscuro text-textoSecundario rounded-2xl shadow-md px-4 sm:px-6 py-4 sm:py-4 mb-3">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
    <div>
      <h2 class="text-xl sm:text-2xl font-semibold">Configuración de Escaneos</h2>
      <p class="text-sm text-textoSecundario mt-1">Administra los escaneos automáticos programados por frecuencia y por horas específicas.</p>
    </div>
    <p-button 
      icon="pi pi-plus" 
      label="Nueva Configuración"
      (click)="mostrarModal()"
    ></p-button>
  </div>
</section>
<!-- 🔷 Sección: Configuración Automática Activa -->
<section class="w-full px-2 py-2 flex flex-col items-center mb-4">

  <!-- Título badge centrado -->
  <div class="flex justify-center mb-2">
    <span class="bg-baseAzulOscuro text-white text-sm font-semibold px-4 py-2 rounded my-2">
      Configuración Automática
    </span>
  </div>

  <!-- Card visual -->
  <p-card styleClass="border border-gray-300 rounded-lg shadow-lg w-full sm:w-[480px] text-center  px-4">

    <ng-container *ngIf="configuracionActiva; else sinActiva">
      <!-- Nombre -->
      <p class="text-lg font-bold text-gray-800 mt-2 mb-1">
        {{ configuracionActiva.nombre }}
      </p>

      <!-- Tipo con tag -->
      <p-tag 
        [value]="configuracionActiva.tipo" 
        [severity]="configuracionActiva.tipo === 'Frecuencia' ? 'info' : 'success'" 
        styleClass="mb-2">
      </p-tag>

      <!-- Frecuencia -->
      <div *ngIf="configuracionActiva.frecuencia_minutos" class="text-sm text-gray-600 mb-2">
        Cada {{ configuracionActiva.frecuencia_minutos }} minutos
      </div>

      <!-- Chips con horas -->
      <div *ngIf="configuracionActiva?.horas?.length" class="flex flex-wrap justify-center gap-1 mb-3">
        <p-chip 
          *ngFor="let hora of configuracionActiva.horas" 
          [label]="hora"
          class="text-xs py-1 px-2">
        </p-chip>
      </div>

      <!-- Toggle -->
      <!-- Toggle -->
<div class="flex justify-center mt-2" *ngIf="configuracionActiva">
  <p-toggleSwitch 
    [(ngModel)]="escaneoAutomatico"
    pTooltip="Desactivar Escaneo Automático"
    tooltipPosition="top"
    (onChange)="onToggleEscaneoAutomatico()">
  </p-toggleSwitch>
</div>

    </ng-container>

    <ng-template #sinActiva>
      <p class="text-sm italic text-gray-500 mt-2 mb-2">
        No hay una configuración activa actualmente
      </p>

      
    </ng-template>
  </p-card>
</section>





<!-- 🔘 Selector visual -->
<section class="w-full flex justify-center mb-4">
  <p-selectButton 
    [options]="opcionesVisualizacion" 
    [(ngModel)]="vistaSeleccionada" 
    optionLabel="label" 
    optionValue="value"
    aria-labelledby="toggle-vista"
    class="shadow-sm"
  />
</section>



<!-- 📦 Tabla: Configuración por Frecuencia -->
<section class="bg-white border rounded-lg shadow-sm p-5 mb-3"   *ngIf="vistaSeleccionada === 'frecuencia'">
  <div class="overflow-auto">
    <p-table #dtFrecuencia 
             [value]="configuracionesFrecuencia"
             [paginator]="true" 
             [rows]="5" 
             (sortFunction)="ordenPersonalizado($event, 'frecuencia')"
  [customSort]="true"
             [globalFilterFields]="['nombre', 'frecuencia_minutos','fecha_inicio','estado']"
             responsiveLayout="scroll">
             
      <!-- Título estilizado -->
      <ng-template pTemplate="caption">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2">
          <div class="bg-baseAzulOscuro text-white px-3 py-2 rounded-md shadow-sm">
            <h3 class="text-base sm:text-lg font-semibold">Configuraciones establecidas por frecuencia</h3>
     
          </div>
          <p-iconfield iconPosition="left" class="mt-2 sm:mt-0">
            <p-inputicon><i class="pi pi-search"></i></p-inputicon>
            <input pInputText type="text" (input)="filtrarFrecuencia($event)" placeholder="Buscar configuración..." class="w-full sm:w-72" />
          </p-iconfield>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre" /></th>
          <th pSortableColumn="frecuencia_minutos">Frecuencia (min) <p-sortIcon field="frecuencia_minutos" /></th>
          <th pSortableColumn="fecha_inicio">Fecha Inicio <p-sortIcon field="fecha_inicio" /></th>
          <th pSortableColumn="fecha_fin">Fecha Fin <p-sortIcon field="fecha_fin" /></th>
          <th pSortableColumn="estado">Estado  <p-sortIcon field="estado" /></th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-config>
        <tr>
          <td>{{ config.nombre }}</td>
          <td>{{ config.frecuencia_minutos }}</td>
          <td>{{ config.fecha_inicio | date:'dd-MM-yyyy' }}</td>
          <td>{{ config.fecha_fin | date:'dd-MM-yyyy' }}</td>
          <td>
            <p-tag [value]="config.estado ? 'Activo' : 'Inactivo'" [severity]="config.estado ? 'success' : 'danger'"></p-tag>
          </td>
          <td class="flex gap-1 items-center">
  <!-- Grupo 1: Editar y Eliminar -->
  <ng-container *ngIf="accionesVisibles[config.id] !== 1">
    <p-button 
      icon="pi pi-pencil" 
      pTooltip="Editar"
      tooltipPosition="top"
      (click)="editarConfiguracion(config)">
    </p-button>
    <p-button 
  icon="pi pi-trash" 
  pTooltip="Eliminar"
  tooltipPosition="top"
  (click)="confirmarEliminarConfiguracion(config)">
</p-button>

  </ng-container>

  <!-- Grupo 2: Activar / Desactivar -->
  <ng-container *ngIf="accionesVisibles[config.id] === 1">
    <p-button 
      [icon]="config.estado ? 'pi pi-ban' : 'pi pi-check-circle'" 
      [pTooltip]="config.estado ? 'Desactivar configuración' : 'Activar configuración'"
      tooltipPosition="top"
      (click)="confirmarCambioEstado(config)">
    </p-button>
  </ng-container>

  <!-- Botón de alternar grupo -->
  <button 
    type="button"
    pTooltip="Más acciones"
    tooltipPosition="top"
    (click)="alternarGrupoAcciones(config.id)"
    class="text-gray-500 hover:text-gray-800 p-1 rounded-full transition-colors">
    <i 
      class="pi"
      [ngClass]="{
        'pi-angle-double-right': accionesVisibles[config.id] !== 1,
        'pi-angle-double-left': accionesVisibles[config.id] === 1
      }">
    </i>
  </button>
</td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</section>

<!-- 🕒 Tabla: Configuración por Hora -->

<section class="bg-white border rounded-lg shadow-sm p-5 mb-3" *ngIf="vistaSeleccionada === 'hora'">
  <div class="overflow-auto">
    <p-table #dtHoras 
             [value]="configuracionesHoras"
             [paginator]="true" 
             [rows]="5" 
              (sortFunction)="ordenPersonalizado($event, 'hora')"
  [customSort]="true"
             [globalFilterFields]="['nombre', 'horas','estado']"
             responsiveLayout="scroll">

      <ng-template pTemplate="caption">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2">
          <div class="bg-baseAzulOscuro text-white px-3 py-2 rounded-md shadow-sm">
            <h3 class="text-base sm:text-lg font-semibold">Configuraciones establecidas por horas </h3>
          
          </div>
          <p-iconfield iconPosition="left" class="mt-2 sm:mt-0">
            <p-inputicon><i class="pi pi-search"></i></p-inputicon>
            <input pInputText type="text" (input)="filtrarHoras($event)" placeholder="Buscar configuración..." class="w-full sm:w-72" />
          </p-iconfield>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre" /></th>
          <th>Horas</th>
          <th pSortableColumn="fecha_inicio">Fecha Inicio <p-sortIcon field="fecha_inicio" /></th>
          <th pSortableColumn="fecha_fin">Fecha Fin <p-sortIcon field="fecha_fin" /></th>
          <th pSortableColumn="estado">Estado <p-sortIcon field="estado"/> </th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-config>
        <tr>
          <td>{{ config.nombre }}</td>
          <td>
            <div class="flex flex-wrap gap-1">
              <p-chip 
                *ngFor="let hora of config.horas" 
                [label]="hora"
                class="bg-slate-100 text-gray-800 font-medium px-2 py-1 rounded-full text-sm">
              </p-chip>
            </div>
          </td>
          <td>{{ config.fecha_inicio | date:'dd-MM-yyyy' }}</td>
          <td>{{ config.fecha_fin | date:'dd-MM-yyyy' }}</td>
          <td>
            <p-tag [value]="config.estado ? 'Activo' : 'Inactivo'" [severity]="config.estado ? 'success' : 'danger'"></p-tag>
          </td>
          <td class="flex gap-1 items-center">
  <!-- Grupo 1: Editar y Eliminar -->
  <ng-container *ngIf="accionesVisibles[config.id] !== 1">
    <p-button 
      icon="pi pi-pencil" 
      pTooltip="Editar"
      tooltipPosition="top"
      (click)="editarConfiguracion(config)">
    </p-button>
    <p-button 
      icon="pi pi-trash" 
      pTooltip="Eliminar"
      tooltipPosition="top"
      (click)="eliminarConfiguracion(config)">
    </p-button>
  </ng-container>

  <!-- Grupo 2: Activar / Desactivar -->
  <ng-container *ngIf="accionesVisibles[config.id] === 1">
    <p-button 
      [icon]="config.estado ? 'pi pi-ban' : 'pi pi-check-circle'" 
      [pTooltip]="config.estado ? 'Desactivar configuración' : 'Activar configuración'"
      tooltipPosition="top"
      (click)="confirmarCambioEstado(config)">
    </p-button>
  </ng-container>

  <!-- Botón de alternar grupo -->
  <button 
    type="button"
    pTooltip="Más acciones"
    tooltipPosition="top"
    (click)="alternarGrupoAcciones(config.id)"
    class="text-gray-500 hover:text-gray-800 p-1 rounded-full transition-colors">
    <i 
      class="pi"
      [ngClass]="{
        'pi-angle-double-right': accionesVisibles[config.id] !== 1,
        'pi-angle-double-left': accionesVisibles[config.id] === 1
      }">
    </i>
  </button>
</td>


        </tr>
      </ng-template>
    </p-table>
  </div>
</section>

<p-dialog
  [(visible)]="modalVisible"
  [modal]="true"
  header="Nueva Configuración"
  [style]="{ width: '530px' }"
  (onHide)="cerrarModal()"
>
  <p-tabView [(activeIndex)]="tabSeleccionada" (onChange)="cambiarTipoEscaneo($event.index)">
    <!-- 🔁 TAB FRECUENCIA -->
    <p-tabPanel header="Por Frecuencia" [disabled]="modoEdicion && formulario.tipo_escaneo_id !== 1">


        <!-- Toggle -->
        <div class="flex flex-col items-center mb-4">
          <label for="estadoToggle" class="mb-2">Establecer como única configuración activa</label>
          <p-toggleSwitch
            [(ngModel)]="formulario.estado"
            inputId="estadoToggle"
            [pTooltip]="formulario.estado ? 'Desactivar' : 'Activar'"
            tooltipPosition="top"
            (onChange)="onToggleEstado()"

          ></p-toggleSwitch>
        </div>
          <p-iftalabel class="block w-full my-3">
            <input pInputText id="nombre-frec" [(ngModel)]="formulario.nombre_configuracion_escaneo" class="w-full " [disabled]="!camposHabilitados"  />
            <label for="nombre-frec">Nombre de la Configuración</label>
          </p-iftalabel>


<div class="flex gap-4 my-3">
  <div class="flex-1">
    <p-iftalabel class="w-full">
      <p-datepicker
        id="inicio-frec"
        appendTo="body"
        dateFormat="yy-mm-dd"
        [(ngModel)]="formulario.fecha_inicio"
        [disabled]="!camposHabilitados" 
        showIcon
        class="w-full"
        [minDate]="minDate"
  [maxDate]="maxDate"
      />
      <label for="inicio-frec">Fecha Inicio</label>
    </p-iftalabel>
  </div>

  <div class="flex-1">
    <p-iftalabel class="w-full">
      <p-datepicker
        id="fin-frec"
        [(ngModel)]="formulario.fecha_fin"
        showIcon
        appendTo="body"
        class="w-full"
        [disabled]="!camposHabilitados" 
        [minDate]="minDate"
  [maxDate]="maxDate"
      />
      <label for="fin-frec">Fecha Fin</label>
    </p-iftalabel>
  </div>
  
</div>

<!-- Fila 2: Frecuencia y Unidad -->
<div class="flex gap-4">

  <!-- Contenedor de Frecuencia -->
  <div class="flex-1">
    <p-iftalabel class="w-full">
      <input
        pInputText
        id="frecuencia"
        [disabled]="!camposHabilitados" 
        [(ngModel)]="formulario.frecuencia_minutos"
        class="w-full"
        (keypress)="permitirSoloNumeros($event)"
        
      />
      <label for="frecuencia">Frecuencia</label>
    </p-iftalabel>
  </div>

  <!-- Contenedor de Unidad -->
  <div class="flex-1">
    <p-iftalabel class="w-full">
      <p-dropdown
      [disabled]="!camposHabilitados" 
        [options]="[
          { label: 'Minutos', value: 'min' },
          { label: 'Horas', value: 'hr' }
        ]"
        [(ngModel)]="unidadFrecuencia"
        appendTo="body"
        class="w-full"
      ></p-dropdown>
      <label for="unidad">Unidad</label>
    </p-iftalabel>
  </div>

</div>
    </p-tabPanel>

    <!-- ⏰ TAB HORA -->
    <p-tabPanel header="Por Hora" [disabled]="modoEdicion && formulario.tipo_escaneo_id !== 2">

  <div>

    <!-- Toggle -->
    <div class="flex flex-col items-center mb-4">
      <label for="estadoHora" class="mb-2">Establecer como única configuración activa</label>
      <p-toggleSwitch
        [(ngModel)]="formulario.estado"
        inputId="estadoHora"
        [pTooltip]="formulario.estado ? 'Desactivar' : 'Activar'"
        tooltipPosition="top"
        (onChange)="onToggleEstado()"

      ></p-toggleSwitch>
    </div>

    <!-- Nombre -->
    <p-iftalabel class="block w-full my-3">
      <input pInputText id="nombre-hora" [(ngModel)]="formulario.nombre_configuracion_escaneo" class="w-full" [disabled]="!camposHabilitados" />
      <label for="nombre-hora">Nombre de la Configuración</label>
    </p-iftalabel>

    <!-- Fechas -->
    <div class="flex gap-4 my-3">
      <div class="flex-1">
        <p-iftalabel class="w-full">
          <p-datepicker
          [disabled]="!camposHabilitados" 
            id="inicio-hora"
            [(ngModel)]="formulario.fecha_inicio"
            showIcon
            appendTo="body"
            class="w-full"
          />
          <label for="inicio-hora">Fecha Inicio</label>
        </p-iftalabel>
      </div>

      <div class="flex-1">
        <p-iftalabel class="w-full">
          <p-datepicker
          [disabled]="!camposHabilitados" 
            id="fin-hora"
            [(ngModel)]="formulario.fecha_fin"
            showIcon
            appendTo="body"
            class="w-full"
            [minDate]="minDate"
  [maxDate]="maxDate"
          />
          <label for="fin-hora">Fecha Fin</label>
        </p-iftalabel>
      </div>
    </div>
    <div class="flex gap-4 my-3">

      <div class="w-[247px]">
  <p-iftalabel class="w-full">
    <p-datepicker
      id="horaSeleccionada"
      [disabled]="!camposHabilitados" 
      [(ngModel)]="horaTemporal"
      [timeOnly]="true"
      hourFormat="24"
      appendTo="body"
      [minDate]="minDate"
  [maxDate]="maxDate"
      class="w-full"
    />
    <label for="horaSeleccionada">Seleccionar hora</label>
  </p-iftalabel>
</div>
      <div class="flex items-center">
        <p-button
        [disabled]="!camposHabilitados" 
  icon="pi pi-plus"
  label="Añadir Horario"
  (onClick)="agregarHora()"
  [style]="{ width: '214px' }"
></p-button>

      </div>
    </div>
    <div class="flex flex-wrap gap-2">
      <p-chip
        *ngFor="let hora of formulario.horas; let i = index"
        [label]="hora"
        [removable]="true"
        [removable]="camposHabilitados"
      ></p-chip>
    </div>
  </div>
</p-tabPanel>
  </p-tabView>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Cancelar" severity="secondary" class="p-button-secondary" (onClick)="cerrarModal()"></p-button>
      <p-button label="Guardar" (onClick)="guardarConfiguracion()"></p-button>
    </div>
  </ng-template>
</p-dialog>


<p-confirmdialog #cd>
  <ng-template pTemplate="headless" let-message let-onAccept="onAccept" let-onReject="onReject">
    <div class="w-full max-w-lg mx-auto flex flex-col items-center py-4 px-6 bg-white rounded-md shadow-lg relative">
      <div
        class="rounded-full text-white inline-flex justify-center items-center h-16 w-16 -mt-10 shadow-md"
        [ngClass]="{
          'bg-green-600': message.icon === 'pi pi-user-plus',
          'bg-red-600': message.icon === 'pi pi-user-minus' || message.icon === 'pi pi-trash'
        }"
      >
        <i class="{{ message.icon }} text-2xl"></i>
      </div>
      <span class="font-bold text-xl mt-3 text-center">{{ message.header }}</span>
      <p class="text-center mt-2 text-sm leading-snug">{{ message.message }}</p>
      <div class="flex justify-end gap-3 mt-5">
        <button
          pButton
          type="button"
          (click)="onReject()"
          [label]="message.rejectLabel || 'Cancelar'"
          class="p-button-outlined w-28"
        ></button>
        <button
          pButton
          type="button"
          (click)="onAccept()"
          [label]="message.acceptLabel || 'Confirmar'"
          [class]=""
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>




