<p-toast></p-toast>
<section
  class="w-full bg-baseAzulOscuro text-textoSecundario rounded-2xl shadow-md px-4 sm:px-6 py-4 sm:py-4 mb-3"
>
  <div
    class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
  >
    <div class="max-w-[600px]">
      <h2 class="text-xl sm:text-2xl font-semibold">
        Configuración de Escaneos
      </h2>
      <p class="text-sm text-textoSecundario mt-1">
        Define la configuración automática de escaneos para detectar
        dispositivos activos en la red. Puedes establecer frecuencias periódicas
        o configurar escaneos en horarios específicos.
      </p>
    </div>

    <p-button
      icon="pi pi-plus"
      label="Nueva Configuración"
      (click)="mostrarModal()"
    ></p-button>
  </div>
</section>
<section class="w-full px-2 py-2 flex flex-col items-center mb-4">
  <div class="flex justify-center mb-2">
    <span
      class="bg-baseAzulOscuro text-white text-sm font-semibold px-4 py-2 rounded my-2"
    >
      Configuración Automática De Registro De Dispositivos En La Red
    </span>
  </div>

  <p-card
    styleClass="border border-gray-300 rounded-lg shadow-lg w-full sm:w-[480px] text-center px-4"
  >
    <ng-container *ngIf="configuracionActiva; else sinActiva">
      <p class="text-lg font-bold text-gray-800 mt-2 mb-1">
        {{ configuracionActiva.nombre }}
      </p>

      <p-tag
        [value]="configuracionActiva.tipo"
        [severity]="
          configuracionActiva.tipo === 'Frecuencia' ? 'info' : 'success'
        "
        styleClass="mb-2"
      >
      </p-tag>

      <div
        *ngIf="configuracionActiva.frecuencia_minutos"
        class="text-sm text-gray-600 mb-2"
      >
        Cada {{ configuracionActiva.frecuencia_minutos }}
        {{
          configuracionActiva.unidad_frecuencia === "hr" ? "horas" : "minutos"
        }}
      </div>

      <div
        *ngIf="configuracionActiva?.horas?.length"
        class="flex flex-wrap justify-center gap-1 mb-2"
      >
        <p-chip
          *ngFor="let hora of configuracionActiva.horas"
          [label]="hora"
          class="text-xs py-1 px-2"
        >
        </p-chip>
      </div>
      <div
        class="text-base text-gray-700 mb-1"
        *ngIf="configuracionActiva?.fecha_inicio"
      >
        <span class="font-medium">Vigente desde:</span>
        {{ configuracionActiva.fecha_inicio | date : "dd/MM/yyyy" }}
      </div>
      <div
        class="text-base text-gray-700 mb-3"
        *ngIf="configuracionActiva?.fecha_fin"
      >
        <span class="font-medium">Hasta:</span>
        {{ configuracionActiva.fecha_fin | date : "dd/MM/yyyy" }}
      </div>

      <div class="flex justify-center mt-2" *ngIf="configuracionActiva">
        <p-toggleSwitch
          [(ngModel)]="escaneoAutomatico"
          pTooltip="Desactivar Escaneo Automático"
          tooltipPosition="top"
          (onChange)="onToggleEscaneoAutomatico()"
        >
        </p-toggleSwitch>
      </div>
    </ng-container>

    <ng-template #sinActiva>
      <p class="text-sm italic text-gray-500 mt-2 mb-2">
        No hay una configuración de escaneos automática activa actualmente
      </p>
    </ng-template>
  </p-card>
</section>

<section class="w-full flex justify-center mb-4">
  <p-selectButton
    [options]="opcionesVisualizacion"
    [(ngModel)]="vistaSeleccionada"
    optionLabel="label"
    optionValue="value"
    (onChange)="validarSeleccionVista()"
    aria-labelledby="toggle-vista"
    class="shadow-sm"
  />
</section>
<div
  class="w-full bg-white rounded-2xl shadow-md p-4 sm:p-5"
  *ngIf="vistaSeleccionada === 'frecuencia'"
>
  <p-table
    #dtFrecuencia
    [value]="configuracionesFrecuencia"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10]"
    paginatorPosition="bottom"
    alwaysShowPaginator="true"
    paginatorDropdownAppendTo="body"
    [customSort]="true"
    (sortFunction)="ordenPersonalizado($event, 'frecuencia')"
    [globalFilterFields]="[
      'nombre',
      'frecuencia_texto',
      'fecha_inicio',
      'estado'
    ]"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2"
      >
        <div class="bg-[#0A2342] text-white px-3 py-2 rounded-md shadow-sm">
          <h3 class="text-base sm:text-lg font-semibold">
            Escaneos Programados por Frecuencia
          </h3>
        </div>
        <p-iconfield iconPosition="left" class="mt-2 sm:mt-0">
          <p-inputicon><i class="pi pi-search"></i></p-inputicon>
          <input
            pInputText
            type="text"
            (input)="filtrarFrecuencia($event)"
            placeholder="Buscar configuración..."
            class="w-full md:w-72"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="bg-[#0A2342] text-white text-sm">
        <th
          pSortableColumn="nombre"
          class="px-3 py-2 font-semibold"
          pTooltip="Nombre asignado a esta configuración de escaneo"
          tooltipPosition="top"
        >
          Nombre de la Configuración
          <p-sortIcon field="nombre" />
        </th>

        <th
          pSortableColumn="frecuencia_texto"
          class="px-3 py-2 font-semibold"
          pTooltip="Intervalo de tiempo entre cada escaneo (por ejemplo, cada hora, cada día)"
          tooltipPosition="top"
        >
          Frecuencia de Escaneo
          <p-sortIcon field="frecuencia_texto" />
        </th>

        <th
          pSortableColumn="fecha_inicio"
          class="px-3 py-2 font-semibold"
          pTooltip="Fecha desde la cual comenzará la ejecución de los escaneos"
          tooltipPosition="top"
        >
          Fecha de Inicio
          <p-sortIcon field="fecha_inicio" />
        </th>

        <th
          pSortableColumn="fecha_fin"
          class="px-3 py-2 font-semibold"
          pTooltip="Fecha límite hasta la cual se ejecutarán los escaneos"
          tooltipPosition="top"
        >
          Fecha de Finalización
          <p-sortIcon field="fecha_fin" />
        </th>

        <th
          pSortableColumn="estado"
          class="px-3 py-2 font-semibold text-center"
          pTooltip="Indica si la configuración está activa actualmente"
          tooltipPosition="top"
        >
          Estado Actual
          <p-sortIcon field="estado" />
        </th>

        <th
          class="px-3 py-2 font-semibold text-center"
          pTooltip="Editar o eliminar esta configuración"
          tooltipPosition="top"
        >
          Acciones
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-config>
      <tr class="hover:bg-gray-100 text-sm">
        <td class="px-3 py-2">{{ config.nombre }}</td>
        <td class="px-3 py-2">{{ config.frecuencia_texto }}</td>
        <td class="px-3 py-2">
          {{ config.fecha_inicio | date : "dd-MM-yyyy" }}
        </td>
        <td class="px-3 py-2">{{ config.fecha_fin | date : "dd-MM-yyyy" }}</td>
        <td class="px-3 py-2 text-center">
          <p-tag
            [value]="config.estado ? 'Activo' : 'Inactivo'"
            [severity]="config.estado ? 'success' : 'danger'"
          ></p-tag>
        </td>
        <td class="px-3 py-2 text-center">
          <div class="flex justify-center gap-2 items-center">
            <p-button
              icon="pi pi-pencil"
              pTooltip="Editar esta configuración"
              tooltipPosition="top"
              (click)="editarConfiguracion(config)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              pTooltip="Eliminar esta configuración"
              tooltipPosition="top"
              (click)="confirmarEliminarConfiguracion(config)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center py-6">
          <p class="text-sm text-gray-500">
            No hay configuraciones registradas.
          </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div
  class="w-full bg-white rounded-2xl shadow-md p-4 sm:p-5"
  *ngIf="vistaSeleccionada === 'hora'"
>
  <p-table
    #dtHoras
    [value]="configuracionesHoras"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10]"
    paginatorPosition="bottom"
    alwaysShowPaginator="true"
    paginatorDropdownAppendTo="body"
    [customSort]="true"
    (sortFunction)="ordenPersonalizado($event, 'hora')"
    [globalFilterFields]="['nombre', 'horas', 'estado']"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2"
      >
        <div class="bg-[#0A2342] text-white px-3 py-2 rounded-md shadow-sm">
          <h3 class="text-base sm:text-lg font-semibold">
            Escaneos Programados por Horarios Específicos
          </h3>
        </div>
        <p-iconfield iconPosition="left" class="mt-2 sm:mt-0">
          <p-inputicon><i class="pi pi-search"></i></p-inputicon>
          <input
            pInputText
            type="text"
            (input)="filtrarHoras($event)"
            placeholder="Buscar configuración..."
            class="w-full md:w-72"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="bg-[#0A2342] text-white text-sm">
        <th
          pSortableColumn="nombre"
          class="px-3 py-2 font-semibold"
          pTooltip="Nombre identificador de esta configuración de escaneo"
          tooltipPosition="top"
        >
          Nombre de la Configuración
          <p-sortIcon field="nombre" />
        </th>

        <th
          class="px-3 py-2 font-semibold"
          pTooltip="Lista de horas exactas en las que se ejecutará el escaneo cada día"
          tooltipPosition="top"
        >
          Horas Programadas
        </th>

        <th
          pSortableColumn="fecha_inicio"
          class="px-3 py-2 font-semibold"
          pTooltip="Fecha desde la cual la configuración comenzará a funcionar"
          tooltipPosition="top"
        >
          Fecha de Inicio
          <p-sortIcon field="fecha_inicio" />
        </th>

        <th
          pSortableColumn="fecha_fin"
          class="px-3 py-2 font-semibold"
          pTooltip="Fecha hasta la cual esta configuración estará activa"
          tooltipPosition="top"
        >
          Fecha de Finalización
          <p-sortIcon field="fecha_fin" />
        </th>

        <th
          pSortableColumn="estado"
          class="px-3 py-2 font-semibold text-center"
          pTooltip="Indica si la configuración está activa o inactiva"
          tooltipPosition="top"
        >
          Estado Actual
          <p-sortIcon field="estado" />
        </th>

        <th
          class="px-3 py-2 font-semibold text-center"
          pTooltip="Acciones disponibles: editar o eliminar"
          tooltipPosition="top"
        >
          Acciones
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-config>
      <tr class="hover:bg-gray-100 text-sm">
        <td class="px-3 py-2">{{ config.nombre }}</td>
        <td class="px-3 py-2">
          <div class="flex flex-wrap gap-1">
            <p-chip
              *ngFor="let hora of config.horas"
              [label]="hora"
              class="m-1 px-2 py-1 rounded-md text-xs bg-blue-100 text-blue-800 border-none"
            ></p-chip>
          </div>
        </td>
        <td class="px-3 py-2">
          {{ config.fecha_inicio | date : "dd-MM-yyyy" }}
        </td>
        <td class="px-3 py-2">{{ config.fecha_fin | date : "dd-MM-yyyy" }}</td>
        <td class="px-3 py-2 text-center">
          <p-tag
            [value]="config.estado ? 'Activo' : 'Inactivo'"
            [severity]="config.estado ? 'success' : 'danger'"
          ></p-tag>
        </td>
        <td class="px-3 py-2 text-center">
          <div class="flex justify-center gap-2 items-center">
            <p-button
              icon="pi pi-pencil"
              pTooltip="Editar esta configuración"
              tooltipPosition="top"
              (click)="editarConfiguracion(config)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              pTooltip="Eliminar esta configuración"
              tooltipPosition="top"
              (click)="confirmarEliminarConfiguracion(config)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center py-6">
          <p class="text-sm text-gray-500">
            No hay configuraciones registradas.
          </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [(visible)]="modalVisible"
  [modal]="true"
  [header]="modoEdicion ? 'Editar Configuración' : 'Nueva Configuración'"

  [style]="{ width: '530px' }"
  (onHide)="cerrarModal()"
>
  <p-tabView
    [(activeIndex)]="tabSeleccionada"
    (onChange)="cambiarTipoEscaneo($event.index)"
  >
    <p-tabPanel
      header="Por Frecuencia"
      [disabled]="modoEdicion && formulario.tipo_escaneo_id !== 1"
    >
      <div
        class="bg-green-50 border border-green-200 text-green-800 rounded-md text-sm p-3 mb-4"
      >
        En esta modalidad, puedes configurar escaneos automáticos que se
        ejecuten cada cierto número de minutos u horas. Por ejemplo: cada 30
        minutos o cada 2 horas. Es ideal para monitoreo constante en intervalos
        definidos.
      </div>
      <div class="flex flex-col items-center mb-4">
        <label
          for="estadoToggle"
          class="mb-2 text-sm text-gray-700 font-medium text-center"
        >
          ¿Deseas que esta sea la única configuración activa?
        </label>
        <p-toggleSwitch
          [(ngModel)]="formulario.estado"
          inputId="estadoToggle"
          [pTooltip]="
            formulario.estado
              ? 'Esta configuración será la única activa. Las demás se desactivarán automáticamente.'
              : 'Activar esta configuración y desactivar otras existentes.'
          "
          tooltipPosition="top"
          (onChange)="onToggleEstado()"
        ></p-toggleSwitch>
        <small
          *ngIf="formulario.estado"
          class="text-xs text-gray-600 mt-1 text-center block"
        >
          Solo esta configuración quedará activa. Las demás se desactivarán.
        </small>
      </div>
      <p-iftalabel class="block w-full my-3">
        <input
          pInputText
          id="nombre-frec"
          [(ngModel)]="formulario.nombre_configuracion_escaneo"
          class="w-full"
          [disabled]="!camposHabilitados"
          (keypress)="validarNombreInput($event)"
          (blur)="limpiarNombre()"
        />
        <label for="nombre-frec">Nombre de la Configuración</label>
      </p-iftalabel>
      <div class="flex gap-4 my-3">
        <div class="flex-1">
          <p-iftalabel class="w-full">
            <p-datepicker
              id="inicio-frec"
              appendTo="body"
              [(ngModel)]="formulario.fecha_inicio"
              [disabled]="!camposHabilitados"
              showIcon
              class="w-full"
              [minDate]="minDate"
              [maxDate]="maxDate"
              pTooltip="Desde este día la configuración comenzará a ejecutarse automáticamente."
              tooltipPosition="top"
            />
            <label for="inicio-frec">Fecha de Inicio</label>
          </p-iftalabel>
        </div>
        <div class="flex-1">
          <p-iftalabel class="w-full">
            <p-datepicker
              id="fin-frec"
              [(ngModel)]="formulario.fecha_fin"
              showIcon
              appendTo="body"
              class="w-full"
              [disabled]="!camposHabilitados"
              [minDate]="minDate"
              [maxDate]="maxDate"
              pTooltip="A partir de esta fecha la configuración dejará de ejecutarse."
              tooltipPosition="top"
            />
            <label for="fin-frec">Fecha de Finalización</label>
          </p-iftalabel>
        </div>
      </div>
      <div class="flex gap-4">
        <div class="flex-1">
          <p-iftalabel class="w-full">
            <input
              pInputText
              id="frecuencia"
              [disabled]="!camposHabilitados"
              [(ngModel)]="formulario.frecuencia_minutos"
              class="w-full"
              (keypress)="permitirSoloNumeros($event)"
              pTooltip="Intervalo entre cada escaneo automático."
              tooltipPosition="top"
            />
            <label for="frecuencia">Frecuencia</label>
          </p-iftalabel>
        </div>

        <div class="flex-1">
          <p-iftalabel class="w-full">
            <p-dropdown
              [disabled]="!camposHabilitados"
              [options]="[
                { label: 'Minutos', value: 'min' },
                { label: 'Horas', value: 'hr' }
              ]"
              [(ngModel)]="unidadFrecuencia"
              appendTo="body"
              class="w-full"
              pTooltip="Define si la frecuencia se mide en minutos u horas."
              tooltipPosition="top"
            ></p-dropdown>
            <label for="unidad">Unidad</label>
          </p-iftalabel>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel
      header="Por Hora"
      [disabled]="modoEdicion && formulario.tipo_escaneo_id !== 2"
    >
      <div
        class="bg-green-50 border border-green-200 text-green-800 rounded-md text-sm p-3 mb-4"
      >
        Esta modalidad permite programar escaneos automáticos en horas
        específicas del día. Por ejemplo: a las 08:00, 14:30 y 22:00. Es útil
        cuando deseas que los escaneos ocurran en momentos concretos.
      </div>
      <div>
        <div class="flex flex-col items-center mb-4">
          <label
            for="estadoHora"
            class="mb-2 text-sm text-gray-700 font-medium text-center"
          >
            ¿Deseas que esta sea la única configuración activa?
          </label>
          <p-toggleSwitch
            [(ngModel)]="formulario.estado"
            inputId="estadoHora"
            [pTooltip]="
              formulario.estado
                ? 'Esta configuración será la única activa. Las demás se desactivarán automáticamente.'
                : 'Activar esta configuración y desactivar otras existentes.'
            "
            tooltipPosition="top"
            (onChange)="onToggleEstado()"
          ></p-toggleSwitch>
          <small
            *ngIf="formulario.estado"
            class="text-xs text-gray-600 mt-1 text-center block"
          >
            Solo esta configuración quedará activa. Las demás se desactivarán.
          </small>
        </div>
        <p-iftalabel class="block w-full my-3">
          <input
            pInputText
            id="nombre-hora"
            [(ngModel)]="formulario.nombre_configuracion_escaneo"
            class="w-full"
            [disabled]="!camposHabilitados"
            (keypress)="validarNombreInput($event)"
            (blur)="limpiarNombre()"
            pTooltip="Asigna un nombre descriptivo para identificar esta configuración."
            tooltipPosition="top"
          />
          <label for="nombre-hora">Nombre de la Configuración</label>
        </p-iftalabel>
        <div class="flex gap-4 my-3">
          <div class="flex-1">
            <p-iftalabel class="w-full">
              <p-datepicker
                [disabled]="!camposHabilitados"
                id="inicio-hora"
                [(ngModel)]="formulario.fecha_inicio"
                showIcon
                appendTo="body"
                [minDate]="minDate"
                [maxDate]="maxDate"
                class="w-full"
                pTooltip="Desde esta fecha comenzarán a ejecutarse los escaneos en los horarios definidos."
                tooltipPosition="top"
              />
              <label for="inicio-hora">Fecha de Inicio</label>
            </p-iftalabel>
          </div>
          <div class="flex-1">
            <p-iftalabel class="w-full">
              <p-datepicker
                [disabled]="!camposHabilitados"
                id="fin-hora"
                [(ngModel)]="formulario.fecha_fin"
                showIcon
                appendTo="body"
                class="w-full"
                [minDate]="minDate"
                [maxDate]="maxDate"
                pTooltip="Última fecha en la que se ejecutarán los escaneos. Luego de esta fecha, la configuración se inactiva automáticamente."
                tooltipPosition="top"
              />
              <label for="fin-hora">Fecha de Finalización</label>
            </p-iftalabel>
          </div>
        </div>

        <div class="flex gap-4 my-3">
          <div class="w-[247px]">
            <p-iftalabel class="w-full">
              <p-datepicker
                id="horaSeleccionada"
                [disabled]="!camposHabilitados"
                [(ngModel)]="horaTemporal"
                [timeOnly]="true"
                hourFormat="24"
                appendTo="body"
                [minDate]="minDate"
                [maxDate]="maxDate"
                class="w-full"
                pTooltip="Selecciona una hora específica del día en la que se ejecutará el escaneo."
                tooltipPosition="top"
              />
              <label for="horaSeleccionada">Seleccionar hora</label>
            </p-iftalabel>
          </div>
          <div class="flex items-center">
            <p-button
              [disabled]="!camposHabilitados"
              icon="pi pi-plus"
              label="Añadir Horario"
              (onClick)="agregarHora()"
              pTooltip="Agrega la hora seleccionada a la lista de horarios programados."
              tooltipPosition="top"
              [style]="{ width: '214px' }"
            ></p-button>
          </div>
        </div>
        <div class="flex flex-wrap gap-2">
          <p-chip
            *ngFor="let hora of formulario.horas; let i = index"
            [label]="hora"
            [removable]="camposHabilitados"
            pTooltip="Haz clic en el icono de cierre para eliminar esta hora"
            tooltipPosition="top"
          ></p-chip>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <button
        pButton
        label="Cancelar"
        class="p-button-outlined w-28"
        (click)="cerrarModal()"
      ></button>
      <p-button label="Guardar" (onClick)="guardarConfiguracion()"></p-button>
    </div>
  </ng-template>
</p-dialog>

<p-confirmdialog #cd>
  <ng-template
    pTemplate="headless"
    let-message
    let-onAccept="onAccept"
    let-onReject="onReject"
  >
    <div
      class="w-full max-w-lg mx-auto flex flex-col items-center py-4 px-6 bg-white rounded-md shadow-lg relative"
    >
      <div
        class="rounded-full text-white inline-flex justify-center items-center h-16 w-16 -mt-10 shadow-md"
        [ngClass]="{
          'bg-green-600': message.icon === 'pi pi-user-plus',
          'bg-red-600':
            message.icon === 'pi pi-user-minus' ||
            message.icon === 'pi pi-trash'
        }"
      >
        <i class="{{ message.icon }} text-2xl"></i>
      </div>
      <span class="font-bold text-xl mt-3 text-center">{{
        message.header
      }}</span>
      <p class="text-center mt-2 text-sm leading-snug">{{ message.message }}</p>
      <div class="flex justify-end gap-3 mt-5">
        <button
          pButton
          type="button"
          (click)="onReject()"
          [label]="message.rejectLabel || 'Cancelar'"
          class="p-button-outlined w-28"
        ></button>
        <button
          pButton
          type="button"
          (click)="onAccept()"
          [label]="message.acceptLabel || 'Confirmar'"
          [class]=""
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>
