@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "primeicons/primeicons.css";


* {
    font-family: 'Poppins', sans-serif;
    
}


/* 
:root {
    --color-primary: #0A2342; 
    --color-secondary: #3E92CC; 
    --color-accent: #ff3f00; 
    --color-background: #F4F4F9; 
    --text-primary: #4A4A4A;
    --text-secondary: #FFFFFF; 
}
*/

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
@tailwind base;
}

@layer tailwind-utilities {
@tailwind components;
@tailwind utilities;
}
