<header class="bg-baseAzulOscuro text-textoSecundario p-3 shadow-md">
  <nav class="flex justify-between items-center">
    <div class="flex items-center">
      <h1 class="text-xl font-bold">RedSegura</h1>
    </div>

    <div class="flex items-center space-x-4">
      <div class="flex items-center space-x-2">
        <label for="roles" class="text-textoSecundario">Rol:</label>
        <p-dropdown 
          [options]="roles" 
          [(ngModel)]="selectedRole"
          placeholder="Seleccionar Rol"
          id="roles"
          class="w-48">
        </p-dropdown>
      </div>

      <p-button 
        icon="pi pi-sign-out" 
        label="Cerrar Sesión" 
        class=" text-textoSecundario font-semibold">
      </p-button>
    </div>
  </nav>
</header>
